@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  line-height: 1;
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-x:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-star-full:before {
  content: "\e9d9";
  color: #FFA500;
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.btn {
  display: inline-block;
  font-size: 1.25rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .btn {
    margin-bottom: 0;
  }
}

.btn-grey {
  background-color: #272936;
}
.btn-grey:hover {
  background-color: #121318;
}

.btn-blue {
  background-color: #4387f6;
}
.btn-blue:hover {
  background-color: #166af4;
}

.btn-green {
  background-color: #00b67b;
}
.btn-green:hover {
  background-color: #009b69;
}

.btn-purple {
  background-color: #926fb1;
}
.btn-purple:hover {
  background-color: #7e57a8;
}

.banner-bg {
  background-image: linear-gradient(to right, black, transparent), url("../img/banner-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .banner-bg {
    background-size: 100% auto;
    background-position: left top;
  }
}
.banner-bg {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
}

.banner-overlay h1 {
  color: #fff;
}
@media (min-width: 768px) {
  .banner-overlay h1 {
    font-size: 4rem;
  }
}

.banner-overlay p {
  font-size: 1.5rem;
  color: #fff;
}

.banner-overlay {
  text-align: center;
}
@media (min-width: 768px) {
  .banner-overlay {
    text-align: left;
  }
}

.basic {
  background-color: #fff;
  height: 300px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.row {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.row a {
  color: #fff;
  text-decoration: none;
}
.row ul {
  list-style-type: none;
  padding-left: 0;
}
.row a:not(.btn):hover {
  text-decoration: underline;
}

.about {
  background-color: #323544;
  color: #fff;
  padding-bottom: 50px;
}
.about .welcome,
.about .what-clients-think {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .about .welcome,
  .about .what-clients-think {
    width: 50%;
  }
}
.about .icon-star-full {
  font-size: 3.125rem;
}
.about .quote {
  font-size: 1.2rem;
}
.about .what-clients-think p {
  font-style: italic;
}
.about .quote-author {
  color: #a3a8ac;
}
.about h1 {
  font-size: 2.2rem;
}
.about p {
  margin: 0 0 20px;
  line-height: 2rem;
}

footer {
  background-color: #323544;
  color: #fff;
  padding: 30px 0 0;
  position: relative;
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
footer h4 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

.footer-row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media (min-width: 992px) {
  .footer-row {
    flex-direction: row;
  }
}

.socials {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .socials {
    flex: 0 0 400px;
  }
}
.socials h4 {
  margin: 24px 0 26px;
}

.nm-img {
  width: 250px;
}
@media (min-width: 992px) {
  .nm-img {
    width: 320px;
  }
}
.nm-img img {
  width: 100%;
}

.socials-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.625rem;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .socials-logos {
    width: 320px;
  }
}
.socials-logos a {
  color: #fff;
  text-decoration: none;
}
.socials-logos ul {
  list-style-type: none;
  padding-left: 0;
}
.socials-logos .facebook,
.socials-logos .linkedin,
.socials-logos .twitter,
.socials-logos .instagram {
  background-color: #212330;
  padding: 12px 22px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 35%;
}
@media (min-width: 992px) {
  .socials-logos .facebook,
  .socials-logos .linkedin,
  .socials-logos .twitter,
  .socials-logos .instagram {
    width: auto;
    margin: 0 7px 0 0;
  }
}
.socials-logos .facebook:hover {
  background-color: #3b5998;
}
.socials-logos .linkedin:hover {
  background-color: #0077b5;
}
.socials-logos .twitter:hover {
  background-color: #1da1f2;
}
.socials-logos .instagram:hover {
  background-color: #e1306c;
}

.footer-menu {
  flex: 100%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .footer-menu {
    flex: 50%;
  }
}
@media (min-width: 992px) {
  .footer-menu {
    flex: 25%;
  }
}
@media (min-width: 1260px) {
  .footer-menu {
    margin-bottom: 40px;
  }
}
.footer-menu h4 {
  margin: 0 0 26px;
}
.footer-menu a {
  color: #fff;
  text-decoration: none;
}
.footer-menu ul {
  list-style-type: none;
  padding-left: 0;
}
.footer-menu a:not(.btn):hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
  background-color: #212330;
}
.footer-bottom a {
  color: #fff;
  text-decoration: none;
}
.footer-bottom ul {
  list-style-type: none;
  padding-left: 0;
}
.footer-bottom a:not(.btn):hover {
  text-decoration: underline;
}

.client-banner {
  overflow: hidden;
  padding: 30px 0 30px;
}
.client-banner .clients {
  display: flex;
  flex-wrap: nowrap;
}
.client-banner .clients img {
  height: 70px;
  width: auto;
  max-width: 200px;
  object-fit: contain;
  flex-shrink: 0;
}

.clients img {
  padding: 0 20px;
  filter: grayscale(100%);
}
.clients img:hover {
  filter: grayscale(0%);
}

.headings {
  overflow: hidden;
}
.headings a {
  color: #333645;
  text-decoration: none;
}
.headings a:hover {
  text-decoration: underline;
}

.left {
  float: left;
  font-size: 2.25rem;
}

.right {
  float: right;
  font-size: 1.7rem;
}

.latest-news {
  color: #333645;
}

/*# sourceMappingURL=style.css.map */
