// Colours

$white: #fff;
$black: #000;
$dark-text : #333645;

$main-bg: #323544;
$dark-bg: #212330;

$btn-grey: #272936;
$btn-grey-hover: #121318;

$btn-blue: #4387f6;
$btn-blue-hover: #166af4;

$btn-green: #00b67b;
$btn-green-hover: #009b69;

$btn-purple: #926fb1;
$btn-purple-hover: #7e57a8;

$btn-yellow: #f7B322;
$btn-yellow-hover: #f7B322;

$star-gold: #FFA500;

$news-title-grey: #67809f;

$border-grey: #ccc;

$quote-text: #a3a8ac;

$icon-bg-grey: #67809f;
$icon-bg-blue: #4183d7;
$icon-bg-green: #2ecc71;
$icon-bg-red: #d64541;
$icon-bg-purple: #926fb1;
$icon-bg-pink: #f62459;
$icon-bg-tomato: #ce4125;

// Logo Colours

$facebook-color: #3b5998;
$linkedin-color: #0077b5;
$twitter-color: #1da1f2;
$instagram-color: #e1306c;

$footer-brand-width: 320px;

// Media Query Breakpoints

$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1260px;

// Shadow

$box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);

// Transition

$transition: 0.5s ease;

$service-card-colors: (
    1: $icon-bg-grey,
    2: $icon-bg-blue,
    3: $icon-bg-green,
    4: $icon-bg-red,
    5: $icon-bg-purple,
    6: $icon-bg-pink,
    7: $icon-bg-tomato,
);


$panel-grey: #526781;
$panel-blue: #286abd;
$panel-green: #25a25a;
$panel-red: #bc2c28;
$panel-purple: #79539a;
$panel-pink: #de093f;
$panel-tomato: #a3331d;

$panel-colours: (
    1: $panel-grey,
    2: $panel-blue,
    3: $panel-green,
    4: $panel-red,
    5: $panel-purple,
    6: $panel-pink,
    7: $panel-tomato,
);