// Colours

$white: #fff;
$dark-text : #333645;

$main-bg: #323544;
$dark-bg: #212330;

$btn-grey: #272936;
$btn-grey-hover: #121318;

$btn-blue: #4387f6;
$btn-blue-hover: #166af4;

$btn-green: #00b67b;
$btn-green-hover: #009b69;

$btn-purple: #926fb1;
$btn-purple-hover: #7e57a8;

$btn-yellow: #f7B322;
$btn-yellow-hover: #f7B322;

$star-gold: #FFA500;

$news-title-grey: #67809f;

$quote-text: #a3a8ac;

$icon-bg-grey: grey;
$icon-bg-blue: blue;
$icon-bg-green: green;
$icon-bg-red: red;
$icon-bg-purple: purple;
$icon-bg-pink: pink;
$icon-bg-tomato: tomato;

// Logo Colours

$facebook-color: #3b5998;
$linkedin-color: #0077b5;
$twitter-color: #1da1f2;
$instagram-color: #e1306c;

$footer-brand-width: 320px;

// Media Query Breakpoints

$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1260px;