@mixin social-hover($color) {
    &:hover {
        background-color: $color;
    }
}

@mixin footer-link-style {
    a {
        color: white;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

@mixin link-hover-underline {
    a:hover {
        text-decoration: underline;
    }
}