@use 'variables';

@mixin social-hover($color) {
    &:hover {
        background-color: $color;
    }
}

@mixin btn-variant($color, $hover-color) {
    background-color: $color;

    &:hover {
        background-color: $hover-color;
    }
}

@mixin link-style {
    a {
        color: variables.$white;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

@mixin link-hover-underline {
    a:not(.btn):hover {
        text-decoration: underline;
    }
}

@mixin mq($break) {
    @if $break == "small" {
        @media (min-width: variables.$breakpoint-small) {
            @content;
        }
    } @else if $break == "medium" {
        @media (min-width: variables.$breakpoint-medium) {
            @content;
        }
    } @else if $break == "large" {
        @media (min-width: variables.$breakpoint-large) {
            @content;
        }
    } @else if $break == "xlarge" {
        @media (min-width: variables.$breakpoint-xlarge) {
            @content;
        }
    }
}