@use 'variables';

@mixin social-hover($color) {
    &:hover {
        background-color: $color;
    }
}

@mixin link-style {
    a {
        color: white;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

@mixin link-hover-underline {
    a:hover {
        text-decoration: underline;
    }
}

@mixin mq($break) {
    @if $break == "small" {
        @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
            @content;
        }
    }
    @if $break == "medium" {
        @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
            @content;
        }
    }
    @if $break == "large" {
        @media (min-width: $breakpoint-large) and (max-width: $breakpoint-xlarge) {
            @content;
        }
    }
    @if $break == "xlarge" {
        @media (min-width: $breakpoint-xlarge) {
            @content;
        }
    }
}