// Colours

$white: #fff;

$main-bg: #323544;
$dark-bg: #212330;

$btn-grey: #272936;
$btn-grey-hover: #121318;

$btn-blue: #4387f6;
$btn-blue-hover: #166af4;

$btn-green: #00b67b;
$btn-green-hover: #009b69;

$star-gold: #FFD200;

$quote-text: #a3a8ac;

// Logo Colours

$facebook-color: #3b5998;
$linkedin-color: #0077b5;
$twitter-color: #1da1f2;
$instagram-color: #e1306c;

// Media Query Breakpoints

$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1260px;