@use '../utilities/variables';
@use '../utilities/mixins';

.about {
    background-color: variables.$main-bg;
    color: variables.$white;
    padding-bottom: 50px;

    .welcome,
    .what-clients-think {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;

        @include mixins.mq("medium") {
            width: 50%;
        }
    }

    .icon-star-full {
        font-size: 3.125rem;
    }

    .quote {
        font-size: 1.2rem;
    }

    .what-clients-think p {
        font-style: italic;
    }

    .quote-author {
        color: variables.$quote-text;
    }

    h1 {
        font-size: 2.25rem;
        font-weight: 500;
    }

    p {
        margin: 0 0 20px;
        line-height: 2rem;
    }
}