@use '../utilities/variables';
@use '../utilities/mixins';

.about {
    background-color: variables.$main-bg;
    color: variables.$white;
    padding-bottom: variables.$space-xxl;

    .welcome,
    .what-clients-think {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-left: variables.$space-sm;
        padding-right: variables.$space-sm;

        @include mixins.mq("large") {
            width: 50%;
        }
    }

    .icon-star-full {
        font-size: 3.125rem;
        display: inline-block;
        margin-bottom: 25px;
    }

    .quote {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .what-clients-think p {
        font-style: italic;
    }

    .what-clients-think .quote-author {
        font-style: normal;
    }

    .quote-author {
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0 0 25px;
        color: variables.$quote-text;
    }

    h1 {
        font-size: 2.25rem;
        font-weight: 600;
    }

    p {
        margin: 0 0 variables.$space-md;
        line-height: 2rem;
    }

    .btn {
        height: 57px;
        padding: variables.$space-xs variables.$space-lg;
        margin-right: variables.$space-xs;
        display: inline-flex;
        align-items: center;
    }

    .btn.why-choose-us,
    .btn.google {
        margin-bottom: 17px;
    }

    @include mixins.mq("medium") {
        .btn.why-choose-us,
        .btn.google {
            margin-bottom: 0;
        }
    }
}