@use '../utilities/variables';
@use '../utilities/mixins';

.banner-bg {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/banner-bg.png');
    background-size: 1910px 740px;
    background-position: 20% center;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;

    @include mixins.mq("medium") {
        background-image: linear-gradient(to right, variables.$black, transparent 75%), url('../img/banner-bg.png');
        background-size: auto, 1910px 740px;
        background-position: left center;
    }
}

.banner-overlay {
    text-align: center;
    padding: 0 variables.$space-sm;

    @include mixins.mq("medium") {
        text-align: left;
    }

    h1 {
        color: variables.$white;
        font-weight: 600;
        font-size: 2.5rem;
        margin: 0;

        @include mixins.mq("large") {
            font-size: 4rem;
            line-height: 5rem;
        }
    }

    p {
        font-size: 1.25rem;
        color: variables.$white;

        @include mixins.mq("large") {
            font-size: 1.625rem;
            line-height: 2.5rem;
        }
    }

    .btn {
        height: 50px;
        line-height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 32px 0 18px;
        box-sizing: content-box;
    }
}
