@use '../utilities/variables';
@use '../utilities/mixins';

.banner-carousel {
    .slick-dots {
        bottom: variables.$space-md;

        li {
            width: 20px;
            height: 20px;
            margin: 0 6px;

            button::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 11px;
                height: 11px;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background-color: rgba(variables.$white, 0.4);
                opacity: 1;
                transition: background-color variables.$transition;
            }

            &:not(.slick-active) button:hover::before { // darker on hover
                background-color: rgba(variables.$black, 0.5);
            }

            &.slick-active button { // active dot with outline
                &::before {
                    width: 11px;
                    height: 12px;
                    background-color: variables.$white;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 20px;
                    height: 20px;
                    transform: translate(-50%, -50%);
                    border: 2px solid variables.$white;
                    border-radius: 50%;
                }
            }
        }
    }
    .banner-slide {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--banner-bg-image);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 550px;
        display: flex;
        align-items: center;

        @include mixins.mq("medium") {
            background-image: linear-gradient(to right, variables.$black, transparent 75%), var(--banner-bg-image);
            background-size: auto, cover;
            background-position: left center;
        }
    }
}

@each $index, $file in variables.$banner-slide-images { // gives each slide its image
    .banner-slide-#{$index} {
        --banner-bg-image: url('../img/#{$file}');
    }
}

.banner-overlay {
    text-align: center;

    @include mixins.mq("large") {
        text-align: left;
    }

    h1 {
        color: variables.$white;
        font-weight: 600;
        font-size: 2.5rem;
        margin: 0;

        @include mixins.mq("large") {
            font-size: 4rem;
            line-height: 5rem;
        }
    }

    p {
        font-size: 1.25rem;
        color: variables.$white;

        @include mixins.mq("large") {
            font-size: 1.625rem;
            line-height: 2.5rem;
        }
    }

    .btn {
        height: 50px;
        line-height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 32px 0 18px;
        box-sizing: content-box;
    }
}
