@use '../utilities/variables';
@use 'sass:map';

.client-banner {
    overflow-x: clip;
    padding: variables.$space-lg 0;

    .clients {
        display: flex;
        flex-wrap: nowrap;
    }
}

.client-item {
    position: relative;
    flex-shrink: 0;
    padding: 0 variables.$space-md;

    img {
        height: 70px;
        width: auto;
        max-width: 200px;
        object-fit: contain;
        filter: grayscale(100%);
        display: block;
    }

    .client-label {
        display: none;
        position: absolute;
        bottom: calc(100% + 36px);
        left: 50%;
        transform: translateX(-50%);
        width: 280px;
        background-color: variables.$main-bg;
        color: variables.$white;
        text-align: center;
        padding: variables.$space-md;
        z-index: map.get(variables.$z-index, 'tooltip');

        h3 {
            font-size: 1.1rem;
            margin: 0;
            padding-bottom: variables.$space-sm;
            font-weight: 400;
        }

        p {
            font-size: 0.8rem;
            margin: 0;
            line-height: 1.35rem;
        }

        a {
            font-weight: 600;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .btn {
            font-size: 16px;
            padding: 13px 15px;
            font-weight: 400;
            margin-top: 11px;
        }

        // transparent block to stay open on hover
        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 36px;
        }

        // triangle
        &::after {
            content: '';
            position: absolute;
            bottom: -36px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-left: 35px solid transparent;
            border-right: 35px solid transparent;
            border-top: 36px solid variables.$main-bg;
        }
    }

    &:hover img {
        filter: grayscale(0%);
    }

    &:hover .client-label {
        display: block;
    }
}
