.client-banner {
    overflow: hidden;
    padding: 30px 0 30px;

    .clients {
        display: flex;
        flex-wrap: nowrap;

        img {
            height: 70px;
            width: auto;
            max-width: 200px;
            object-fit: contain;
            flex-shrink: 0;
        }
    }
}


.clients img {
    padding: 0 20px;
    filter: grayscale(100%);

    &:hover {
        filter: grayscale(0%)
    }
}