@use '../utilities/variables';
@use '../utilities/mixins';

footer {
    background-color: variables.$main-bg;
    color: variables.$white;
    padding: variables.$space-lg 0 0;
    position: relative;
    font-size: .8125rem;
    line-height: 1.375rem;

    h4 {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
    }
}

.footer-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 variables.$space-sm;

    @include mixins.mq("medium") {
        padding: 0;
    }

    @include mixins.mq("large") {
        flex-direction: row;
    }
}

.socials {
    display: flex;
    flex-direction: column;

    @include mixins.mq("large") {
        flex: 0 0 400px;
    }

    h4 {
        margin: 24px 0 26px;
    }
}

.nm-img {
    width: 250px;

    @include mixins.mq("large") {
        width: variables.$footer-brand-width;
    }

    img {
        width: 100%;
    }
}

.socials-logos {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    font-size: 1.625rem;
    text-align: center;
    margin-bottom: variables.$space-lg;

    @include mixins.mq("large") {
        width: variables.$footer-brand-width;
    }

    @include mixins.mq("medium") {
        display: flex;
    }

    @include mixins.link-style;

    .facebook,
    .linkedin,
    .twitter,
    .instagram {
        background-color: variables.$dark-bg;
        padding: 12px 22px 16px;
        margin-right: variables.$space-xs;
        margin-bottom: variables.$space-xs;
        width: auto;

        @include mixins.mq("large") {
            width: auto;
            margin: 0 7px 0 0;
        }
    }

    .facebook  {
        @include mixins.social-hover(variables.$facebook-color);
    }
    .linkedin  {
        @include mixins.social-hover(variables.$linkedin-color);
    }
    .twitter   {
        @include mixins.social-hover(variables.$twitter-color);
    }
    .instagram {
        @include mixins.social-hover(variables.$instagram-color);
    }
}

.footer-menu {
    flex: 100%;
    margin-bottom: variables.$space-lg;

    @include mixins.mq("medium") {
        flex: 50%;
    }

    @include mixins.mq("large") {
        flex: 25%;
    }

    @include mixins.mq("xlarge") {
        margin-bottom: variables.$space-xl;
    }

    h4 {
        margin: 0 0 26px;
    }

    @include mixins.link-style-full;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: variables.$space-xs 0;
    background-color: variables.$dark-bg;

    @include mixins.link-style-full;
}

.footer-copyright {
    width: 100%;

    .footer-br {
        display: block;

        @include mixins.mq("large") {
            display: none;
        }
    }

    .footer-hyphen {
        display: none;

        @include mixins.mq("large") {
            display: inline;
        }
    }
}


.footer-copyright {
    padding: 0 15px;
    width: 100%;
}