@use '../utilities/variables';
@use '../utilities/mixins';
@use 'sass:map';

.nav {
    background-color: variables.$white;
    height: auto;
    width: auto;

    padding: 20px 0;

    @include mixins.mq("medium") {
        height: variables.$nav-height;
        padding: 0;
    }

    .container {
        display: flex;
        flex-direction: column;

        @include mixins.mq("medium") {
            display: block;
        }
    }

    .search-mobile {
        display: flex;
        padding: 10px 15px;

        @include mixins.mq("medium") {
            display: none;
        }

        .mobile-searchbar {
            width: 100%;
            height: 40px;
            padding: 5px 15px;
            font-size: 0.875rem;
            border: variables.$border-grey 1px solid;
            border-radius: 3px;

            &:focus {
                outline: none;
                border: #5bc0de 1px solid;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192,222,.6);
            }
        }
    }

    .row {
        height: 68px;
        align-items: center;
        flex-wrap: nowrap;

        @include mixins.mq("medium") {
            height: variables.$nav-height;
        }

        .nm-header-logo,
        .nm-header-nav {
            padding: 0 15px;
        }

        .nm-header-logo {
            min-width: 0;
            align-items: center;
        }

        .nm-header-logo img {
            height: 70px;
            width: 100%;
            object-fit: contain;
            object-position: left center;

            @include mixins.mq("large") {
                height: 4rem;
                width: auto;
                object-fit: unset;
            }
        }

        .nm-header-nav {
            flex: 1;
            min-width: max-content;
            height: 68px;

            @include mixins.mq("medium") {
                height: variables.$nav-height;
            }
        }

    .btn-grey.btn,
    .btn-blue.btn,
    .btn-dark-grey {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        font-size: 1.125rem;
        padding: 5px 15px;
        border-radius: 3px;
        margin-left: 20px;
    }
    
    .icon {
        font-size: 1.4rem;
        margin-right: 5px;
    }

    .nav-input {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    .search {
        display: none;
        align-items: center;
        margin-left: 20px;

        @include mixins.mq("medium") {
            display: flex;
        }

        .btn-grey {
            border-radius: 3px;
            margin-left: 0;
            justify-content: center;
            padding: 5px 20px;

            @include mixins.mq("medium") {
                border-radius: 0 3px 3px 0;
            }

            @include mixins.mq("large") {
                border-radius: 3px;
            }

            @include mixins.mq("xlarge") {
                border-radius: 0 3px 3px 0;
            }

            .icon {
                margin: 0;
                line-height: 1;
            }
        }
    }

    .nav-btns {
        display: none;

        @include mixins.mq("large") {
            display: flex;
        }
    }

    .search-input {
        display: none;

        @include mixins.mq("medium") {
            display: block;
        }

        @include mixins.mq("large") {
            display: none;
        }

        @include mixins.mq("xlarge") {
            display: block;
        }
    }

    .searchbar {
        width: 174px;

        @include mixins.mq("large") {
            width: 174px;
        }

        @include mixins.mq("xlarge") {
            width: 240px;
        }
        height: 56px;
        padding: 5px 15px;
        align-self: stretch;
        font-size: 0.875rem;
        border: variables.$border-grey 1px solid;
        border-radius: 0px;

        &:focus {
            outline: none;
            border: #5bc0de 1px solid;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
        }
        }

    .phone {
        display: flex;

        @include mixins.mq("medium") {
            display: none;
        }

        .icon {
            font-size: 2rem;
            color: variables.$btn-dark-grey;
        }
    }

    .hamburger {
        display: flex;

        .btn {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 12px;
            margin-bottom: 0;
        }

        .icon {
            font-size: 2.5rem;
            margin-right: 0;
            line-height: 0.25;
        }
    }
    }

    .search-mobile {
        padding-bottom: 0px;

        .mobile-searchbar {
            background-color: rgba(0, 0, 0, .1);
            border: 2px solid rgba(0,0,0,.1);
            border-right: none;
            border-radius: 2px 0 0 2px;
        }

        .btn-search {
            margin: 0;
            background-color: rgba(0, 0, 0, .1);
            border: 2px solid rgba(0,0,0,.1);
            border-left: none;
            color: variables.$dark-bg;
            font-size: 1.25rem;
            border-radius: 0 2px 2px 0;
            height: 40px;
        }
    }
}

.drop-down {
    display: none;

    @include mixins.mq("large") {
        display: block;
    }

    background-color: variables.$main-bg;
    width: 100%;
    overflow: visible;
    position: relative;

    .container,
    .row {
        align-items: center;
    }

    // Colour Maps

    $drop-colors: (
        'development': variables.$icon-bg-grey,
        'it':          variables.$icon-bg-blue,
        'marketing':   variables.$icon-bg-green,
        'telecoms':    variables.$icon-bg-red,
        'web':         variables.$icon-bg-purple,
        'security':    variables.$icon-bg-pink,
        'course':      variables.$icon-bg-tomato,
    );

    $panel-colors: (
        'development': variables.$panel-grey,
        'it':          variables.$panel-blue,
        'marketing':   variables.$panel-green,
        'telecoms':    variables.$panel-red,
        'web':         variables.$panel-purple,
        'security':    variables.$panel-pink,
        'course':      variables.$panel-tomato,
    );



    .drop {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: variables.$white;
        max-height: 100%;
        text-transform: uppercase;
        line-height: 0.8;
        text-decoration: none;
        position: relative;
        font-size: 1.125rem;
        font-weight: 400;
        padding: 20px 0;

        small {
            margin-top: variables.$space-xs;
            font-size: 0.625rem;
            line-height: 1.5;
        }

        .icon {
            font-size: 1.4rem;
        }
    }

    // chooses colours, hover logic and triangles per category

    @each $name, $color in $drop-colors {
        .#{$name}-drop .icon {
            color: $color;
        }

        .#{$name}-drop:hover,
        &:has(.#{$name}-panel:hover) .#{$name}-drop { // when hovered
            background-color: $color;
            .icon { color: variables.$white; }
        }
    }

    @each $name, $panel-color in $panel-colors {
        &:has(.#{$name}-drop:hover) .#{$name}-panel,
        &:has(.#{$name}-panel:hover) .#{$name}-panel {
            display: block;
            background-color: $panel-color;
        }
    }

    @each $name, $color in $drop-colors { // triangle
        .#{$name}-drop:hover::after,
        &:has(.#{$name}-panel:hover) .#{$name}-drop::after {
            content: '';
            position: absolute;
            bottom: -35px;
            left: 0;
            width: 100%;
            height: 35px;
            background-color: $color;
            clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
            z-index: map.get(variables.$z-index, 'triangle');
        }
    }

    .row {
        flex-wrap: nowrap;

        a:not(.btn):hover {
            text-decoration: none;
        }
    }

    .drop-panel {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: map.get(variables.$z-index, 'panel');
        display: none;
        padding: variables.$space-xl 0;
        color: variables.$white;

        @include mixins.link-style-full;

        h2 {
            margin: 0 0 variables.$space-sm;
            font-weight: 500;
            font-size: 2rem;
        }

        .link-text {
            font-size: 1.2rem;
            margin-left: variables.$space-xs;
        }

        .banner-menu-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: variables.$space-xs 0;

            a {
                display: flex;
                align-items: center;
                padding: 0.6rem 0.9rem 0.6rem 0;

                &:hover {
                    text-decoration: none;

                    .link-text {
                        text-decoration: underline;
                    }
                }
            }

            .icon {
                font-size: 1.3rem;
            }
        }
    }
}
