@use '../utilities/mixins';

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    @include mixins.mq("medium") {
        width: 750px;
    }

    @include mixins.mq("large") {
        width: 970px;
    }

    @include mixins.mq("xlarge") {
        width: 1200px;
    }
}

.row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    @include mixins.link-style-full;
}