@use '../utilities/mixins';
@use '../utilities/variables';

body {
    margin: 0;
    letter-spacing: .4px;
}

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: variables.$space-sm;
    padding-left: variables.$space-sm;
    width: 100%;

    @include mixins.mq("medium") {
        width: 750px;
    }

    @include mixins.mq("large") {
        width: 970px;
    }

    @include mixins.mq("xlarge") {
        width: 1200px;
    }
}

.row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    @include mixins.link-style-full;
}

// switches at large to line up with the drop-down menu appearing

.mobile-only {
    @include mixins.mq("large") {
        display: none;
    }
}

.desktop-only {
    display: none;

    @include mixins.mq("large") {
        display: block;
    }
}