@use '../utilities/mixins.scss' as mixins;

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-style: normal;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1260px) {
        width: 1200px;
    }
}

.row {
            display: flex;
            flex: 1;
            flex-wrap: wrap;

            @include mixins.link-style;
            @include mixins.link-hover-underline;
        }