@use '../utilities/variables';

.partner-banner {
    overflow: hidden;
    padding: variables.$space-xxl 0;

    .partners {
        display: inline-flex;
        flex-wrap: nowrap;

        img {
            height: 70px;
            width: auto;
            max-width: 200px;
            object-fit: contain;
            flex-shrink: 0;
            padding: 0 variables.$space-md;
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0%);
            }
        }
    }
}
