@use '../utilities/variables';

.services-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.service-card:nth-child(-n+3) {
  grid-column: span 4;
}

.service-card:nth-child(n+4) {
  grid-column: span 3;
}

.service-card {
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
}

.services .container {
    padding: 0 20px;
}

.service-card {
    padding: 30px;
}

.service-card h2 {
    margin: 0;
    padding: 15px 0 10px;
    border-radius: 50%;
}

.icon {
    font-size: 2rem;
    color: white;
}

.icon-bg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.icon-bg-grey { 
  background-color: variables.$icon-bg-grey;
}

.icon-bg-blue { 
  background-color: variables.$icon-bg-blue;
}

.icon-bg-green { 
  background-color: variables.$icon-bg-green;
}

.icon-bg-red { 
  background-color: variables.$icon-bg-red;
}

.icon-bg-purple { 
  background-color: variables.$icon-bg-purple;
}

.icon-bg-pink { 
  background-color: variables.$icon-bg-pink;
}

.icon-bg-tomato { 
  background-color: variables.$icon-bg-tomato;
}