@use '../utilities/variables';

.icon-facebook:before {
    content: "\ea90";
}
.icon-linkedin2:before {
    content: "\eaca";
}
.icon-x:before {
    content: "\e900";
}
.icon-instagram:before { 
    content: "\ea92"; 
}

.icon-star-full:before {
    content: "\e9d9";
    color: variables.$star-gold;
}

.icon-arrow-right2:before {
    content: "\ea3c";
}

.icon-cogs:before {
  content: "\e905";
}

.icon-bar-graph:before {
  content: "\e903";
}

.icon-security:before {
  content: "\e904";
}

.icon-school:before {
  content: "\e901";
}

.icon-phone_in_talk:before {
  content: "\e902";
}

.icon-display:before {
  content: "\e956";
}

.icon-embed2:before {
  content: "\ea80";
}

.icon-shuffle:before {
  content: "\ea30";
}

.icon-handshake-o:before {
  content: "\e90c";
}

.icon-cloud-download:before {
  content: "\e90a";
}

.icon-download:before {
  content: "\e907";
}

.icon-briefcase:before {
  content: "\e908";
}

.icon-laptop_mac:before {
  content: "\e90b";
}

.icon-group:before {
  content: "\e909";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-cloud:before {
  content: "\e9c1";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-earth:before {
  content: "\e9ca";
}

.icon-transfer:before {
  content: "\e906";
}

.icon-headphones:before {
  content: "\e910";
}

.icon-hard-drive:before {
  content: "\e90d";
}

.icon-dollar:before {
  content: "\e90e";
}

.icon-email:before {
  content: "\e90f";
}

.icon-create:before {
  content: "\e912";
}

.icon-line-chart:before {
  content: "\e911";
}

.icon-search:before {
  content: "\e986";
}

.icon-phone:before {
  content: "\e913";
}

.icon-ticket:before {
  content: "\e939";
}

.icon-dashboard:before {
  content: "\e914";
}

.icon-phone1:before {
  content: "\e915";
}
