@use '../utilities/variables';

.icon-facebook:before {
  content: "\ea90";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-x:before {
  content: "\e913";
}
.icon-instagram:before {
  content: "\ea92";
}

.icon-star-full:before {
  content: "\e9d9";
    color: variables.$star-gold;
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-cogs:before {
  content: "\e918";
}

.icon-bar-graph:before {
  content: "\e916";
}

.icon-security:before {
  content: "\e917";
}

.icon-school:before {
  content: "\e914";
}

.icon-phone_in_talk:before {
  content: "\e915";
}

.icon-display:before {
  content: "\e956";
}

.icon-embed2:before {
  content: "\ea80";
}

.icon-shuffle:before {
  content: "\ea30";
}

.icon-handshake-o:before {
  content: "\e91f";
}

.icon-cloud-download:before {
  content: "\e91d";
}

.icon-download:before {
  content: "\e91a";
}

.icon-briefcase:before {
  content: "\e91b";
}

.icon-laptop_mac:before {
  content: "\e91e";
}

.icon-group:before {
  content: "\e91c";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-cloud:before {
  content: "\e9c1";
}

.icon-folder-open:before {
  content: "\e932";
}

.icon-earth:before {
  content: "\e9ca";
}

.icon-transfer:before {
  content: "\e919";
}

.icon-headphones:before {
  content: "\e923";
}

.icon-hard-drive:before {
  content: "\e920";
}

.icon-dollar:before {
  content: "\e921";
}

.icon-email:before {
  content: "\e922";
}

.icon-create:before {
  content: "\e925";
}

.icon-line-chart:before {
  content: "\e924";
}

.icon-search:before {
  content: "\e986";
}

.icon-phone:before {
  content: "\e926";
}

.icon-ticket:before {
  content: "\e939";
}

.icon-dashboard:before {
  content: "\e927";
}

.icon-phone1:before {
  content: "\e904";
}

.icon-bullhorn:before {
  content: "\e92f";
}

.icon-local_grocery_store:before {
  content: "\e929";
}

.icon-https:before {
  content: "\e92b";
}

.icon-access_time:before {
  content: "\e92a";
}

.icon-files-empty:before {
  content: "\e931";
}

.icon-lab:before {
  content: "\e9aa";
}

.icon-help:before {
  content: "\e92c";
}

.icon-paperplane:before {
  content: "\e92e";
}

.icon-mouse:before {
  content: "\e92d";
}

.icon-minus:before {
  content: "\e90e";
}

.icon-chevrons-right:before {
  content: "\e908";
}

.icon-chevron-down:before {
  content: "\e900";
}