@use '../utilities/variables';

.icon-facebook:before {
    content: "\ea90";
}
.icon-linkedin2:before {
    content: "\eaca";
}
.icon-x:before {
    content: "\e900";
}
.icon-instagram:before { 
    content: "\ea92"; 
}

.icon-star-full:before {
    content: "\e9d9";
    color: variables.$star-gold;
}

.icon-arrow-right2:before {
    content: "\ea3c";
}

.icon-cogs:before {
  content: "\e905";
}

.icon-bar-graph:before {
  content: "\e903";
}

.icon-security:before {
  content: "\e904";
}

.icon-school:before {
  content: "\e901";
}

.icon-phone_in_talk:before {
  content: "\e902";
}

.icon-display:before {
  content: "\e956";
}

.icon-embed2:before {
  content: "\ea80";
}